

*{

	margin:0;
	padding:0;
	border:0;
}


body
{
	background: #282a36;
	font-family: 'Sen', sans-serif, bold;
	color:white;
}

header 
{
	
	padding:32px;
	border-bottom: :1px solid #333;
	background:rgba(0,0,0, 0.1);

}


.links
{
	
	text-align:center;
}

.links a
{
	color: white;
	font-size:18px;
	line-height:28px;
	margin:0 16px;
	text-decoration:none;

}

.links a:hover 
{
	color: red;
	
}

body #wrapper
{
	text-align: center;
	padding:32px;
}

body #wrapper img 
{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 32px;
	margin-top: 32px;
	display: block;
	border-radius: 50%;
	border: 3px solid red;
	height:300px;
}



 #wrapper h1
 {
 	margin-bottom: 5px;
 	opacity: 0.8;
 	font-weight: bold;
 }

 #wrapper p
 {
 	margin: 8px auto 5px auto;
 	opacity:0.8;
 	font-size: 24px;
 	max-width: 50%;
 	
}

  #wrapper h2
  {
  	margin-top: 18px;
  	opacity: 0.8;

  }

 #wrapper h2 a
{
	color: white;
	text-decoration:none;

}

#wrapper h2 a:hover
{
	color:red;
	text-decoration: underline;

}

#links_footer a
{
	margin:30px;
	border-bottom:2px solid red ;
}

/*===CARDS===*/

.cards
{
	max-width:50%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap:20px;
}

.card
{
	background-color: #7159c1;
	margin-bottom:10px;


}

.card-img img
{
	width: 100%; /*Para respeitar o limete colocado na div .cards*/
}



.card-info
{
	display: grid;
	grid-template-columns:1fr 1fr ;
	position:relative;
	


}

.card-info .note
{
	text-align: center;
	margin-left: 7px;
	background-color: #7159c1;
	filter:brightness(90%);
	padding: 50px 20px 0px 0px ;

}

.modal-overlay
{
	background-color: rgba(0, 0, 0, 0.7);
	width:100%;
	height: 100%;
	position: fixed;
	top:0;
}

.modal
{
	background-color: white;
	width: 90%;
	height: 90%;
	margin:5vh auto;
	position: relative;
	
}

.modal .close-modal
{
	color:black;
	position:absolute;
	right:11px;
	top:8px;
	cursor: pointer;
}
